/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

/* Common text styling */
.header p,
.categorySelector,
.quickChoiceList,
.quickChoiceList a,
.searchButton {
  font-family: "Market Sans", Helvetica, sans-serif;
  font-size: 12px;
}

/* Common flex containers */
.header,
.headerRight,
.headerLeft,
.wrapperSection,
.categorySelector,
.searchbar,
.searchButton {
  display: flex;
  align-items: center;
}

/* Common layout containers */
.pageContainer,
.wrapperSection {
  width: 100%;
}

/* Header */
.header {
  justify-content: space-between;
  gap: 1rem;
  height: 2rem;
  position: relative;
  z-index: 4;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.header p {
  padding: 5px;
}

/* Header sides */
.headerRight {
  gap: 1rem;
  justify-content: flex-end;
}

.headerLeft {
  gap: 1rem;
  justify-content: flex-start;
}

/* Searchbar */
.searchbar {
  border: 2.5px solid #191919;
  border-radius: 2.75rem;
  overflow: hidden;
  transition: border .2s ease-in-out;
  z-index: 2;
  padding: .6rem;
  width: 65%;
  margin-left: 1.5rem;
}

.searchbar input {
  border: none;
  border-bottom-left-radius: 2.75rem;
  border-top-left-radius: 2.75rem;
  caret-color: #000;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1rem;
  height: 100%;
  overflow: hidden;
  padding-left: 2.75rem;
  transition: background-color .2s linear;
  width: 100%;
}

/* Category selector */
.categorySelector {
  color: #707070;
  flex-shrink: 10;
  font-size: .75rem;
  height: 2.5rem;
  line-height: .875rem;
  min-width: 50px;
  text-align: left;
  margin: .5rem;
  text-decoration: none;
}

.categorySelector img {
  display: inline-block;
}

a.categorySelector {
  text-decoration: none;
}

/* Page wrapper */
.wrapperSection {
  padding: .75rem 0;
}

.pageContainer {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 1584px;
  padding: 0 48px;
  position: relative;
}

/* Search button */
.searchButton {
  justify-content: center;
  border-radius: 2rem;
  background-color: #0968f6;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  outline-offset: .5px;
  padding: 1rem;
  transition: background-color .2s ease-in-out;
  width: 10%;
  margin: 0 1rem;
}

/* Quick choice list */
.quickChoiceList {
  position: relative;
  display: block;
  white-space: normal;
  list-style-type: disc;
  margin: 1em 0;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  color: #555;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid #ddd;
  padding: 10px;
}
.quickChoiceList li {
  display: inline-block;
  text-decoration: none;
  color: #707070;
  margin: 0 10px;
}


.quickChoiceList a {
  text-decoration: none;
  color: #707070;
}

.mySwiper {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border-radius: 15px;
}

.mySwiperContainer{
  border: 1px solid white;
  border-radius: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  /* Slide text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.swiper-pagination-bullet {
  border: 1px solid black;
  background-color: transparent;
  opacity: 0.8;
}

span.swiper-pagination-bullet-active {
  background-color: white
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 90% !important;
  color: black !important;
  width: 10px !important; 
  height: 10px !important;
  background-color: white !important;
  border-radius: 100%;
  padding: 5px;
}

.swiper-button-next {
  right: 20px !important;
}
.swiper-button-prev {
  right: 50px !important;
}